
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.no-scroll{
    overflow: hidden;
}