.contacts {
    background-color: #2f303a;

}

.footer__container{
    @include desktop {
            display: flex;
        }

}

.footer-tablet{
    @include tablet{
        display: flex;
        justify-content: space-around;

    }
}

.contacts__address{
    text-align: center;
    margin-bottom: 60px;


    @include desktop{
        margin-right: 94px;
        margin-bottom: 0;
    }
}

.contacts__list {
    @include mobile {
            margin-top: 28px;
        }
    margin-top: 20px;
}

.contacts__item {
    margin-top: 9px;
&:first-child {
        margin-top: 0;
    }
}

.contact__addres-link {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.contact__link-color {
    color: #ffffff;
}