.contacts {
    background-color: #2f303a;

}

.footer__container{
    @include desktop{
    display: flex;}
}

.footer-tablet{

    @include tablet{
    display: flex;
    justify-content: space-evenly;}
        
    @include desktop {
        justify-content: flex-start;
        width:50%;
    }

}

.footer__logo {

    @include desktop{
    margin-right: 156px;}
}

.contacts__address {
    text-align: center;
    font-style: normal;
    margin-bottom: 60px;
    @include desktop{
        text-align: left;
        margin-bottom: 0;
    }
    }




.contacts__list {
    @include mobile {
            margin-top: 28px;
        }
    margin-top: 20px;
}

.contacts__item {
    margin-top: 9px;
&:first-child {
        margin-top: 0;
    }
}

.contact__addres-link {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.contact__link-color {
    color: #ffffff;
}