


.footer-soc__box {
        margin-bottom: 60px;


    @include desktop {
    margin-right: 93px;
margin-bottom:0;}
}

.footer-soc__text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    padding-top: 12px;
    margin-bottom: 20px;
}

.footer-soc__list {
display: flex;
    gap: 10px;
    margin-top: 16px;
   justify-content: center;
}

.footer-soc__item {
    width: 44px;
    height: 44px;
    align-items: center;
}

.footer-soc__link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            background-color: #2196f3;
        }
}

.footer-soc__icon{
    fill:#ffffff;
}



