.logo {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.03em;
    color: var(--hover-color);

@include desktop{
    font-family: "Raleway";
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
}
}

.logo--color-white {
    color: #ffffff;
}

.logo--color-black {
    color: #000000;
}