.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--hover-color);
}

.logo--color-white {
    color: #ffffff;
}

.logo--color-black {
    color: #000000;
}