.header__portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio__filter {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  @include tablet {
    justify-content: center;
  }
}

.portfolio__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  transition: color, background-color,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &.current {
    color: #ffffff;
    background-color: var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-project {
  gap: 30px;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.portfolio-project__list {
  width: 100%;
  max-width: 450px;
  /*text-align: center;*/
  margin-right: auto;
  margin-left: auto;
  

  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 60px) / 3);
    
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-project__list:hover .portfolio-project__top-text {
  transform: translateY(0);
}

.portfolio-project__top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-project__top-text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.portfolio-project__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-project__list-border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
  min-width: 368px;
}

.portfolio-project__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
