.work__section{
@media screen and (max-width:1200px) {
    display: none;
}
padding-top: 24px;
padding-bottom: 94px;

}

.work__list {
    display: flex;
    gap: 30px;
}

.work__item {
    width: calc((100% - 60px) / 3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    position: relative;

}

.work__item-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}