:root {
    --font-ral: "Roboto", sans-serif;
    --title-color: #212121;
    --text-color: #757575;
    --hover-color: #2196f3;
    --gra:linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4));
}
